.section2{
    /* padding-top: 9rem; */
    height: 450px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    padding: 1rem 3rem;
    text-align: center;
    background-color: rgb(233, 232, 231);
    
}
.section2 img{
    
    margin-left: 7rem;
}

.lazy-img {
    filter: blur(9px);
  }

  .features__img {
    width: 100%;
  }
.slider__btn {
    /* position: absolute; */
    /* top: 50%; */
    /* z-index: 10; */
  
    border: none;
    background: none;
    font-family: inherit;
    color: #333;
    /* border-radius: 50%; */
    /* height: 3.3rem;
    width: 3.3rem; */
    font-size: 2rem;
    margin: 0px 3rem;
    cursor: pointer;
}
.span{
    
    font-size: 1.3rem;
}
/* .text_content2{
    padding: 0 5rem;
    padding-left: 19rem;
    
} */
.text_content2 h1{
    padding: 2rem;
}

@media (max-width: 968px){
    .section2{
        /* padding-bottom: 2rem; */
        width: 980px;
        height: 536px;
        background-color: rgb(233, 232, 231);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        align-items: center;
        justify-content: center;
  
        
    }       
}

